.feed-avenir {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.lesmasks-avenir {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    @media screen and (max-width: 756px) {
        flex-direction: row;
    }

    @media screen and (max-width: 430px) {
        flex-direction: column;
    }
}

.images-avenir {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0vh;
    left: 0vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#img-avenir-droite {
    background-image: url(images/image.png);
}
#img-avenir-milieu {
    background-image: url(images/touEffeilNuit.jpg);
}
#img-avenir-gauche {
    background-image: url(images/images2.jpg);
}
.feed-avenir a {
    position: absolute;
    z-index: 3;
    pointer-events: none;
}

.mask-avenir {
    z-index: 1;
    width: 100%;
    height: 100%;
    // border: solid 1rem var(--couleur);
    border-radius: 50%;
    // box-shadow: 0px 0px 20px var(--couleur);
    clip-path: circle(50% at 50% 50%);
    transition: clip-path 0.5s ease;
    pointer-events: none;
}

// .conteneur-mask{
//     width: 100%;
//     height: 100%;
//     border: solid 1rem var(--couleur);
//     border-radius: 50%;
//     box-shadow: 0px 0px 20px var(--couleur);
//     margin: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: absolute;
//     transform-origin: center;
// }

.conteneur-mask {
    width: 30vw;
    height: 30vw;
    // border: solid 2px var(--couleur);
    border-radius: 50%;
    // box-shadow: 0px 0px 20px var(--couleur);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;

    &:hover {
        .mask-avenir {
            z-index: 4;
            clip-path: circle(350% at 50% 50%);
        }
    }

    @media screen and (max-width: 756px) {
        &:hover {
            .mask-avenir {
                z-index: 4;
                clip-path: circle(500% at 50% 50%);
            }
        }
    }

    @media screen and (max-width: 430px) {
        width: 55vw;
        height: 55vw;

        min-width: 200px;
        min-height: 200px;
    }
}

/*.conteneur-hover-mask{
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;

    &:hover{
        .mask-avenir{
            z-index: 4;
            clip-path: circle(100% at 50% 50%);
        }
    }
}*/
.avenir-sections {
    width: 100vw;
    height: 33vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-clip: text;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/image.png);

    & h1 {
        text-align: center;
        //transform-origin: center;
        transition: font-size 0.5s ease;
    }
    &:hover {
        h1 {
            // transform: scale(0.5, 0.5);
            font-size: 2000vw;
            //font-family: "Playfair Display", serif;
        }
    }
}
.avenir-sections h1 {
    display: flex;
    align-items: center;
    //background-image: url(images/image.png);
    // background-clip: text;
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    color: transparent;
    font-weight: 900;
    font-size: clamp(0.5rem, 18vw, 17vw);
    margin: 0;
}
