.feed-avenir{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.lesmasks-avenir{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.feed-avenir img{
    width: 100vw;
    height: 100vh;
    min-width: 1200px;

    position: absolute;
    top: 0vh;
    left: 0vw;
    //z-index: 3;
}

.feed-avenir a{
    position: absolute;
    z-index: 3;
    pointer-events: none;
}

.mask-avenir{
    z-index: 1;
    width: 100%;
    height: 100%;
    border: solid 1rem var(--couleur);
    border-radius: 50%;
    box-shadow: 0px 0px 20px var(--couleur);
    clip-path: circle(50% at 50% 50%);
    transition: clip-path 0.5s ease;
    pointer-events: none;
}

// .conteneur-mask{
//     width: 100%;
//     height: 100%;
//     border: solid 1rem var(--couleur);
//     border-radius: 50%;
//     box-shadow: 0px 0px 20px var(--couleur);
//     margin: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: absolute;
//     transform-origin: center;
// }

.conteneur-mask{
    width: 30vw;
    height: 30vw;
    border: solid 2px var(--couleur);
    border-radius: 50%;
    box-shadow: 0px 0px 20px var(--couleur);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;

    &:hover{
        .mask-avenir{
            z-index: 4;
            clip-path: circle(350% at 50% 50%);
        }
    }

    @media screen and (max-width: 756px) {
        &:hover{
            .mask-avenir{
                z-index: 4;
                clip-path: circle(500% at 50% 50%);
            }
        }
    }
}

/*.conteneur-hover-mask{
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;

    &:hover{
        .mask-avenir{
            z-index: 4;
            clip-path: circle(100% at 50% 50%);
        }
    }
}*/

