main {
    //pointer-events: none;
}

html {
    //pointer-events: none;
    scroll-behavior: smooth;
}
body {
    //pointer-events: none;
    max-width: 1200px;
    overflow-x: hidden;
    background-color: $noir;
    color: $blanc;

    @media screen and (max-width: 756px) {
        overflow-x: hidden;
    }
}
#hero {
    width: 100vw;
    height: 100vh;
    //background-color: var(--couleur-fond);
    background-image: url("images/image.png");
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        padding: 0 5rem;
    }
}
.barre-navigation {
    position: absolute;
    height: 10vh;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    //background-color: var(--couleur-fond);
    color: $noir;
    position: fixed;
    transform: translateY(0);
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;

    img {
        width: 50px;
        height: auto;
    }
}

/****** Scrollbar ******/
/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $noir-fonce;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $couleur;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
