/*********** STYLES TYPOGRAPHIQUES **************/

h1 {
  // font-size: clamp(2rem, 4vw, 10rem);
  font-size: clamp(2rem, 4vw, 6rem);
}

h2 {
  //   font-size: clamp(1.5rem, 4vw, 5rem);
  font-size: clamp(1.75rem, 3.5vw, 4rem);
}

h3 {
  //   font-size: clamp(1.25rem, 3vw, 3rem);
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h4 {
  //   font-size: clamp(1rem, 3vw, 2rem);
  font-size: clamp(1.25rem, 2.5vw, 2.5rem);
}

h5 {
  //   font-size: clamp(1rem, 3vw, 2rem);
  font-size: clamp(1rem, 2vw, 2rem);
}

h6 {
  //   font-size: clamp(1rem, 3vw, 2rem);
  font-size: clamp(0.875rem, 1.75vw, 1.75rem);
}

p {
    font-size: clamp(0.75rem, 3vw, 1.8rem);
}

a {
    // Styles pour les liens
    color: $blanc;
    text-decoration: none;
}

/*********** COULEUR ET POLICE **************/

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    // Couleur et police générale pour plusieurs éléments
    color: $blanc;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}
