/*********** FOOTER **************/
.pied {
    // Styles généraux du footer
    width: 100vw;
    background-color: $noir-fonce;
    padding: 2rem 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width: 430px) {
        padding: 2rem 10vw;
    }
}

.footer-sections {
    // Styles pour la section des sections du footer
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;

    @media screen and (max-width: 430px) {
        flex-direction: column;
    }
}

.footer-sociaux {
    // Styles pour la section des réseaux sociaux
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-sociaux img {
    // Styles pour les images des réseaux sociaux
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.footer-bloc {
    // Styles pour les blocs d'information dans le footer
    display: flex;
    margin: 0 2vw;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 20%;

    & h2 {
        // Styles pour les titres des blocs
        margin: 0;
        margin-bottom: 1vw;
        font-size: clamp(1.1rem, 3vw, 3.5rem);
    }

    & ul {
        // Styles pour les listes dans les blocs
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        flex: 1 1 auto;

        & li {
            // Styles pour les éléments de la liste
            margin: 0.3rem 0;
        }
    }

    & img {
        // Styles pour les images dans les blocs
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: 430px) {
        width: 100%;
        margin: 1rem 0;

        & h2 {
            margin-bottom: 0;
            font-size: 2.2rem;
        }

        & img {
            width: 40%;
        }

        & ul li {
            margin: 0.2rem 0;
        }

        & ul li a {
            font-size: 01rem;
        }

        &:last-of-type a {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.footer-droits {
    // Styles pour la section des droits
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $blanc;
    padding-top: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    p {
        // Styles pour le texte des droits
        font-size: clamp(0.5rem, 2vw, 1rem);
        color: $blanc;
    }
}

.pied a {
    // Styles pour les liens dans le footer
    color: $blanc;
    text-decoration: none;
    font-size: clamp(0.75rem, 2.25vw, 1.75rem);
}
