* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --couleur: #007bff;
    --couleur-pale: #57a8ff;
    --couleur-fonce: #004997;

    --noir: #1c1c1c;
    --noir-pale: #292929;
    --noir-fonce: #242424;

    --blanc: #ebebeb;
    --blanc-pale: #eeeeee;
    --blanc-fonce: #cccccc;

    --gris: #808080;
    --gris-pale: #a1a1a1;
    --gris-fonce: #4b4b4b;
}

$couleur: var(--couleur);

$couleur-pale: var(--couleur-pale);

$couleur-fonce: var(--couleur-fonce);

$noir-pale: var(--noir-pale);

$noir-fonce: var(--noir-fonce);

$noir: var(--noir);

$blanc: var(--blanc);

$blanc-pale: var(--blanc-pale);

$blanc-fonce: var(--blanc-fonce);

$gris: var(--gris);

$gris-pale: var(--gris-pale);

$gris-fonce: var(--gris-fonce);
