* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --couleur-fond: #007bff;
  --couleur-texte: #6c757d;
  --couleur-accent: #28a745;

  --noir-pale: #292929;
  --noir-fonce: #242424;
  --noir: #000000;

  --blanc: #e7e7e7;
  --blanc-pale: #eeeeee;
  --blanc-fonce: #cccccc;

  --gris: #808080;
  --gris-pale: #a1a1a1;
  --gris-fonce: #4b4b4b;
}

$couleur-fond: var(--couleur-fond);

$couleur-texte: var(--couleur-texte);

$couleur-accent: var(--couleur-accent);

$noir-pale: var(--noir-pale);

$noir-fonce: var(--noir-fonce);

$noir: var(--noir);

$blanc: var(--blanc);

$blanc-pale: var(--blanc-pale);

$blanc-fonce: var(--blanc-fonce);

$gris: var(--gris);

$gris-pale: var(--gris-pale);

$gris-fonce: var(--gris-fonce);
