html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: var(--gris-fonce);
    color: white;

    @media screen and (max-width: 756px) {
        overflow-x: hidden;
    }
}
#hero {
    width: 100vw;
    height: 100vh;
    background-color: var(--couleur-fond);
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        padding: 0 5rem;
    }
}

.barre-navigation {
    position: absolute;
    height: 10vh;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    //background-color: var(--couleur-fond);
    color: black;
    position: fixed;
    transform: translateY(0);
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;

    img {
        width: 50px;
        height: auto;
    }
}
/********** Menu Nav *************/
.menu {
    width: 40vw;
    height: 100vh;
    background-color: red;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.7s ease;
    z-index: 10;

    @media screen and (max-width: 756px) {
        width: 100vw;
    }
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    list-style: none;
    padding: 0px;
}

.menu ul li {
    font-size: 6rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: clamp(0.5rem, 10vw, 5rem);
}
.flou {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(0px) brightness(100%);
    transition: backdrop-filter 0.7s ease;
    pointer-events: none;
    z-index: 5;
}
.burger {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2em;
    height: 2em;
    overflow: hidden;
    z-index: 100;
}

.burger div {
    width: 100%;
    height: 10%;
    background-color: black;
    border-radius: 50px;
    //transition: all 0.7s;
}

#burger:checked > .burger div:nth-of-type(1) {
    animation: ligne-burger 0.2s ease alternate;
}

#burger:checked > .burger div:nth-of-type(2) {
    animation: ligne-burger 0.2s 0.1s ease alternate;
}

#burger:checked > .burger div:nth-of-type(3) {
    animation: ligne-burger 0.2s 0.2s ease alternate;
}

#burger {
    display: none;
    position: relative;
    z-index: 10;
}

#burger:checked + .menu {
    transform: translateX(0);
}

#burger:checked ~ .flou {
    backdrop-filter: blur(5px) brightness(50%);
}

.logo {
    text-decoration: none;
}

/*********** FEED **************/

.feed {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 0rem 10rem;
    margin: 10rem 0rem;
    //height: 100vh;
    width: 100vw;
    background-color: var(--gris-fonce);
    z-index: -2;

    @media screen and (max-width: 756px) {
        padding: 5rem 2rem;
    }

    @media screen and (max-width: 430px) {
        padding: 2rem 1rem;
    }
}
.feed:nth-of-type(1) .infos {
    align-items: flex-start;
}
// .feed:nth-of-type(odd){
//     justify-content: flex-start;
// }
.feed:nth-of-type(3) {
    flex-direction: row-reverse;
}

.feed:nth-of-type(3),
.feed:nth-of-type(4) {
    @media screen and (max-width: 756px) {
        flex-direction: column-reverse;
    }
}

.feed:nth-of-type(3) .img-projet {
    animation: apparition-droite 1s ease forwards;
    animation-timeline: view();
}

.feed:nth-of-type(4) .infos {
    align-items: flex-start;
    font-size: clamp(1rem, 4vw, 5rem);
}

.feed:nth-of-type(3) .infos,
.feed:nth-of-type(4) .infos {
    @media screen and (max-width: 756px) {
        align-items: center;
        justify-content: flex-end;
    }
}

.axes {
    //padding: 10rem 3rem;
    padding: 0 3rem;
    height: 100vh;

    @media screen and (max-width: 430px) {
        //padding: 10rem 0;
    }
}

.feed .img-projet {
    width: 50rem;
    height: 100%;
    background-color: var(--couleur-fond);
    animation: apparition-gauche 1s ease forwards;
    animation-timeline: view();
    z-index: -1;

    @media screen and (max-width: 756px) {
        width: 100%;
        height: 50vh;
    }
}

.feed .infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    width: 70%;
    flex-grow: 1;
}

.feed .infos p {
    // font-size: clamp(0.5rem, 2vw, 5rem);
    line-break: loose;
    width: 100%;
}

.feed .infos h1 {
    margin: 0;
    text-align: right;
    width: 80%;

    @media screen and (max-width: 756px) {
        text-align: center;
    }
}

.feed .charte-rond {
    height: 30vw;
    width: 30vw;
    min-width: 300px;
    min-height: 300px;
    border-radius: 50%;
    background-color: var(--couleur-fond);
    margin: 1rem 0;
    animation: apparition-charte 1s ease forwards;
    animation-timeline: view();
}

.charte-rond,
.img-projet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.axes-cours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 2rem;

    @media screen and (max-width: 430px) {
        flex-direction: column;
        gap: 2%;
        justify-content: space-between;
    }
}

.axes-cours div {
    background-color: var(--couleur-fond);
    color: white;
    height: 45%;
    // flex: 1 0 0;
    flex: 1 0 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 756px) {
        flex: 1 0 40%;
        height: 30%;
        max-width: none;
    }

    @media screen and (max-width: 430px) {
        flex: 1 0 0;
        width: 100%;
        margin: 0;
    }
}

.feed-projet {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-fond);
}

.info-projet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 756px) {
        flex-direction: column;
        gap: 5rem;
    }
}

.info-projet .img-parralax {
    width: 25rem;
    height: 25rem;
    background-color: var(--gris-fonce);

    @media screen and (max-width: 430px) {
        width: 15rem;
        height: 15rem;
    }
}

//Animation du scroll
@keyframes apparition-gauche {
    0% {
        opacity: 0;
        transform: translateX(-100%);
        //transform: scale(0);
    }
    30% {
        opacity: 1;
        transform: translateX(0);
        //transform: scale(1);
    }
}

@keyframes apparition-droite {
    0% {
        opacity: 0;
        transform: translateX(100%);
        //transform: scale(0);
    }
    30% {
        opacity: 1;
        transform: translateX(0);
        //transform: scale(1);
    }
}

@keyframes ligne-burger {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes apparition-charte {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    40% {
        opacity: 1;
        transform: scale(1);
    }
}
/*@keyframes feed-block{
    from{
        position: static;
    }
    to{
        position: fixed;
    }
}*/
