/*Style page cours*/
.body-cours {
  padding: 2rem 2rem 2rem 7rem;
  @media screen and (max-width: 756px) {
    padding: 2rem 2rem 2rem 4rem;
  }
  & ul {
    position: relative;
  }
}

/*Section des cours*/

.conteneur-timeline {
  position: relative;
}

.timeline {
  position: absolute;
  width: 7px;
  height: 98.5%;
  min-height: 530px;
  margin: 0 auto;
  background-color: $gris-fonce;
  @media screen and (max-width: 756px) {
    min-height: 450px;
  }
}

/*Barre de progression pour la timeline des cours*/
.barre-progression {
  width: 100%;
  height: 0%; /*Changement de la hauteur au scroll en JavaScript*/
  background-color: $couleur;
  transition: height 0.25s ease;
  max-height: 100%;
}

ul {
  list-style: none;
  padding-left: 0; /*Enlever la marge par défaut à gauche*/
}

.cours {
  display: none; /*les cours par défaut ne s'affichent pas*/
  & > * {
    margin-top: 5rem;
    margin-bottom: 5rem;

    @media screen and (max-width: 756px) {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}

.session {
  position: relative;
  z-index: 1;
}

.cercle {
  text-align: start; /*Mettre le texte aligné à gauche*/
  line-height: 2rem;
  margin-left: 2rem;

  @media screen and (max-width: 756px) {
    margin-left: 2rem;
  }
}

.cercle::before {
  position: absolute;
  transition: background-color 0.5s ease;
  left: -0.58rem;
}

.session .cercle.cercle-actif::before {
  background-color: $couleur;
}

.cercle.grand {
  color: $couleur;
  font-weight: bold;
  margin-top: 7rem;
  margin-top: 5rem;
  margin-bottom: 5rem;

  @media screen and (max-width: 756px) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.cercle.grand::before {
  /*Placer un cercle avant les h1 des sessions*/
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-color: $gris-fonce;
  border-radius: 50%;
  text-align: center;
}

.cercle.petit::before {
  /*Placer un cercle avant les h5 des cours*/
  content: "";
  display: inline-block;
  margin-right: 12.5px;
  margin-left: 2.5px;
  width: 20px;
  height: 20px;
  background-color: $gris-fonce;
  border-radius: 50%;
  text-align: center;
}

.cours .description-cours {
  display: none;

  & .wp-block-column:first-of-type p {
    margin-left: 4rem;
  }
  & .wp-block-column {
    flex-grow: 0;
    flex-basis: auto;
    & p {
      margin-left: 0;
      margin-right: 0;
      margin-top: 2rem;
      font-size: clamp(0.5rem, 2vw, 1.3rem);
    }
  }
}
/*Lors de l'ajout de la classe visible, afficher la description*/
.description-cours.visible {
  display: block;
}

.description-cours p {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0.5rem;

  &:last-of-type {
    margin-top: 2rem;
    font-size: clamp(0.9rem, 2.8vw, 1.5rem);
  }
}

/*Aligner la pondération avec la description des cours*/
.cours .description-cours .wp-block-column:first-of-type p {
  margin-left: 2rem;
}
