.sous-section {
    justify-content: center;
    align-items: center;
}

.page-avenir .wp-block-columns p,
.page-avenir .wp-block-columns li {
    font-size: clamp(0.8rem, 2.6vw, 1.6rem);
    margin-top: 1rem;
}

.page-avenir h1 {
    margin-bottom: 2rem;
}
.page-avenir h2,
.page-avenir h3,
.page-avenir h4 {
    font-weight: bold;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.image3D {
    position: absolute;
    right: 0;
    z-index: -1;
    max-width: 40vw;
    animation: animation-3d 1s ease-in-out;
    animation-timeline: view();

    @media screen and (max-width: 756px) {
        display: none;
    }
}

@keyframes animation-3d {
    0% {
        transform: scale(0.8) translateX(10vw) rotate(5deg);
    }

    100% {
        transform: scale(1) translateX(0) rotate(-5deg);
    }
}
