.presentation-charte {
  text-align: center;
}

.charte-design {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  @media screen and (max-width: 756px) {
    flex-direction: column;
  }
}
.graphique {
  width: 300px;
  height: 300px;
  position: relative;
  animation: apparition-charte 1s ease forwards;
  animation-timeline: view();
}

.graphique .info-graphique {
  text-align: center;
  margin-top: 2rem;
}

.cercle-arriere {
  box-shadow: 6px 6px 10px -1px $couleur-fonce,
    -6px -6px 10px -1px $couleur-fonce;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $couleur;
}

.cercle-avant {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px $couleur-fonce, -0.5px -0.5px 0px $couleur-fonce,
    0.5px 0.5px 0px $couleur-pale, 0px 12px 10px -10px $couleur-fonce;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre-pourcentage {
  font-weight: 600;
  color: $couleur;
}

.svg-charte-progression {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  width: 300px;
  height: 300px;
}

circle {
  fill: none;
  stroke: url(#CouleurGradient);
  // stroke-width: 20px;
  // stroke-dasharray: 450;
  // stroke-dashoffset: 450;
  stroke-width: 40px;
  stroke-dasharray: 810;
  stroke-dashoffset: 810;
  transition: stroke-dashoffset 2s linear;
}
