#hero {
    // Styles pour la section hero
    width: 100vw;
    height: 100vh;
    background-image: url("images/image.png");
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        // Styles pour le titre dans la section hero
        text-align: center;
        padding: 0 5rem;
    }
}
