#hero {
    // Styles pour la section hero
    width: 100vw;
    height: 100vh;
    background-image: url("images/image.png");
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .fondu {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(rgba(28, 28, 28, 0), rgba(28, 28, 28, 1));
    }
    .titre {
        width: 85vw; /* Largeur de la section */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titre h1 {
        text-align: center; /* Centrage du texte */
        padding: 0 2rem; /* Espacement autour du texte */
        z-index: 1;
    }

    span {
        // Police alternative
        font-family: "Playfair Display", sans-serif;
        font-style: normal;
        font-size: 0.8em;
    }
    .hero-images {
        width: auto;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .image-1 {
        opacity: 0.3;
        filter: blur(5px);
        height: 5rem;
        width: 5rem;
        top: 10.1%;
        left: 16.2%;
    }

    .image-2 {
        width: 17rem;
        height: 11rem;
        top: 30.5%;
        left: 5.4%;
    }

    .image-3 {
        opacity: 0.5;
        filter: blur(3px);
        height: 8rem;
        width: 8rem;
        top: 13.6%;
        left: 38.1%;
    }

    .image-4 {
        opacity: 0.6;
        width: 8rem;
        height: 8rem;
        top: 18.5%;
        left: 66.3%;
    }

    .image-5 {
        opacity: 0.6;
        filter: blur(2px);
        height: 8rem;
        width: 8rem;
        top: 69.2%;
        left: 21.3%;
    }

    .image-6 {
        z-index: 2;
        height: 10rem;
        width: 10rem;
        top: 65.4%;
        left: 67.7%;
        opacity: 0.8;
    }

    .image-7 {
        z-index: 2;
        opacity: 0.8;
        height: 10rem;
        width: 10rem;
        top: 75.6%;
        left: 43.2%;
        opacity: 0.8;
    }

    @media screen and (max-width: 756px) {
        .hero-images {
            transform: scale(0.53) translateX(-50%);
        }
    }
}
