
.div-searchform {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
}	

// Recherche du système de design 1
.recherche {
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 3em;
    border-bottom: 2px solid $couleur;

    @media screen and (max-width: 756px) {
        width: 50vw;
    }

    @media screen and (max-width: 430px) {
        width: 60vw;
    }
}

.recherche__input {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    height: 100%;
    width: 80%;
}

.recherche__input::placeholder {
    color: #ffffff71;
    font-size: 1.5rem;
}

.recherche svg {
    fill: $couleur;
    width: 20px;
    height: 20px;
}

.recherche__button {
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-style: none;
    height: 100%;
    width: 20%;

}

