.div-searchform {
    justify-content: center;
    align-items: center;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 5vh;
}

.recherche {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1.5em;
    border-bottom: 2px solid $couleur;
    // font-size: 4rem;
    font-size: clamp(1.5rem, 3vw, 4rem);
    transition: width 0.3s ease-in-out;
}

.recherche__input {
    font-family: "Playfair Display", serif;
    background-color: transparent;
    color: $blanc;
    border: none;
    outline: none;
    height: 100%;
    width: auto;
    // width: 30vw;
    transition: width 0.5s ease-in-out;
    max-width: 50vw;
}

.aucun-resultat {
    margin-top: 4rem;
}
.page-recherche .btn-retour {
    padding: 5rem 12vw;
    padding-bottom: 0;
}
.recherche__input::placeholder {
    font-family: "Josefin Sans", serif;
    color: $gris;
}

.recherche span {
    color: $couleur;
    font-size: clamp(1.5rem, 3vw, 4rem);
}

.recherche__button {
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    border-style: none;
    height: 100%;
}
