.recherche {
  display: flex;
  justify-content: space-between;
  width: 200px;
  border-bottom: 2px solid #ffff;
}

.recherche__input {
  background-color: var(--gris-fonce);
  border: none;
  outline: none;
}

.recherche__input::placeholder {
  color: #ffff;
  font-size: 1.5rem;
}

.recherche__input .recherch__img {
}
