.sous-section {
    background-color: var(--blanc-pale);
}

.text-noir > h1 {
    color: black;
    font-weight: bold;
}

.text-noir > h2, .text-noir > h3,.text-noir > h4, .text-noir > p, .text-noir > ul > li {
    color: black;
}