.sous-section {
    justify-content: center;
    align-items: center;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 3rem;
    padding-top: 5rem;
}

.sous-section > div > h2 {
    font-weight: bold;
    //font-size: 4rem;
}

// Sections Types de stages

.types-stage {
    display: flex;
}

.types-stage > div {
    padding-bottom: 1rem;
    padding-top: 4rem;
    padding-right: 3rem;
}

.types-stage > div > h2 {
    font-weight: 500;
}