.sous-section {
    justify-content: center;
    align-items: center;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.sous-section > div > h2 {
    font-weight: bold;
    //font-size: 4rem;
}

// Listes (ul, li)

.liste-emplois > div > ul > li,
.section-universites > div > ul > li {
    font-size: 25px;
    padding: 2.5rem;
}

// Sections Types de stages

.types-stage {
    @media screen and (min-width: 756px) {
        display: flex;
    }
}

.types-stage > div {
    //padding-bottom: 1rem;
    padding-top: 4rem;
    //padding-right: 4rem;
}

.types-stage > div > p {
    padding-bottom: 1rem;
    padding-top: 4rem;
}

.types-stage > div > h2 {
    font-weight: 500;
}

//********************* Emplois ********************//

.liste-emplois {
    justify-content: center;
    padding: 1rem;
    @media screen and (min-width: 756px) {
        display: flex;
    }
}

.liste-emplois > div {
    padding-bottom: 1rem;
    padding-top: 4rem;
    //padding-right: 3rem;
}

.description-emplois {
    padding-top: 2rem;
}

//********************* Universités **********************//

.section-universites > div > p {
    padding-bottom: 4rem;
}

.section-universites > div > h2 {
    font-weight: bold;
}
