body{
    overflow-x: hidden;
    background-color: var(--gris-fonce);
    color: white;
}
.hero{
    width: 100vw;
    height: 100vh;
    background-color: var(--couleur-fond);
    display: flex;
    align-items: center;
    justify-content: center;
}

.barre-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    //background-color: var(--couleur-fond);
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/********** Menu Nav *************/
.menu{
    width: 40vw;
    height: 100vh;
    background-color: red;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.7s ease;
    z-index: 10;
}

.menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
    list-style: none;
    padding: 0px;
}

.menu ul li{
    font-size: 6rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: clamp(0.5rem, 10vw, 5rem);
}
.flou{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(0px) brightness(100%);
    transition: backdrop-filter 0.7s ease;
    pointer-events: none;
    z-index: 5;
}
.burger{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2em;
    height: 2em;
    overflow: hidden;
    z-index: 100;
}

.burger div{
    width: 100%;
    height: 10%;
    background-color: black;
    border-radius: 50px;
    //transition: all 0.7s;
}

#burger:checked > .burger div:nth-of-type(1){
    animation: ligne-burger 0.2s ease alternate;
}

#burger:checked > .burger div:nth-of-type(2){
    animation: ligne-burger 0.2s 0.1s ease alternate;
}

#burger:checked > .burger div:nth-of-type(3){
    animation: ligne-burger 0.2s 0.2s ease alternate;
}

#burger{
    display: none;
    position: relative;
    z-index: 10;
}

#burger:checked+.menu{
    transform: translateX(0);
}

#burger:checked~.flou{
    backdrop-filter: blur(5px) brightness(50%);
}

.logo{
    position: relative;
    z-index: 100;
}

/*********** FEED **************/

.feed{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 10rem 5rem;
    height: 100vh;
    width: 100vw;
    background-color: var(--gris-fonce);
    z-index: -2;
}

.feed .img-projet{
    width: 25rem;
    height: 100%;
    background-color: var(--couleur-fond);
    animation: apparition 1s linear forwards;
    animation-timeline: view();
    z-index: -1;
}

.feed .infos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.feed .infos p{
    flex-grow: 1;
}

.feed .charte-rond{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background-color: var(--couleur-fond);
    margin: 1rem 0;
    animation: apparition-charte 1s ease forwards;
    animation-timeline: view();
}

.charte-rond, .img-projet{
    display: flex;
    align-items: center;
    justify-content: center;
}

.axes-cours{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.axes-cours div{
    background-color: var(--couleur-fond);
    color: white;
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed-projet{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--couleur-fond);
}

.info-projet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*********** FOOTER *************/
//Animation du scroll
@keyframes apparition{
    0%{
        opacity: 0;
        transform: translateX(-100%);
        //transform: scale(0);
    }
    30%{
        opacity: 1;
        transform: translateX(0);
        //transform: scale(1);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
        //transform: scale(1);
    }
}

@keyframes ligne-burger{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}

@keyframes apparition-charte{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    40%{
        opacity: 1;
        transform: scale(1);
    }
}
/*@keyframes feed-block{
    from{
        position: static;
    }
    to{
        position: fixed;
    }
}*/