.projets-apercus {
    display: flex;
    align-items: flex-start;
    z-index: 1;
}

.colonne-proj {
    width: 50%;
}
.colonne-proj:nth-of-type(2) {
    margin-top: 35vh;
}
.thumbnail-projet {
    // height: 60vh;
    width: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    position: relative;
    // padding: 1rem;

    &:hover {
        & > div::after {
            background-color: rgba(0, 0, 0, 0);
        }
        & .titre-projet,
        & .cours-projet {
            opacity: 1;
        }
    }
    & > div {
        position: relative;
        background-size: cover;
        background-position: center;
        width: 100%;
        // height: 100%;
        height: 70vh;
        overflow: hidden;
        &::after {
            @media screen and (min-width: 756px) {
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                z-index: 1;
                pointer-events: none;
                transition: background-color 0.3s;
            }
        }
    }
    & .titre-projet,
    & .cours-projet {
        opacity: 0.6;
    }
    & .titre-projet {
        margin-top: 1rem;
        color: $blanc;
        font-size: clamp(1.2rem, 2.5vw, 2.7rem);
    }
}

.cours-projet {
    color: $gris;
    margin-bottom: 10vh;
    font-size: clamp(0.8rem, 1.4vw, 2.3rem);
}
.thumbnail-projet:nth-child(odd) {
    align-self: flex-start;
}
.thumbnail-projet:nth-child(even) {
    align-self: flex-end;
}

@media screen and (max-width: 756px) {
    .thumbnail-projet h2 {
        opacity: 1;
        text-shadow: $noir 3px 3px 2px;
    }
}
