main #hero {
    background-image: none;
}
#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour s'assurer que la vidéo couvre toute la zone sans déformation */
    z-index: -1; /* Pour placer la vidéo en arrière-plan */
}

.section__projet {
    padding: 2rem 2rem;
    @media screen and (max-width: 756px) {
        padding: 2rem 3rem;
    }
}

.info__projet {
    justify-content: space-between;
    gap: 3rem;
    @media screen and (max-width: 550px) {
        flex-direction: column;
    }
}

.btn-retour {
    height: 5vh;
    width: fit-content;
    text-align: left;
    font-size: 1.2rem;
    gap: 0.5em;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 1em;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: $couleur;
    }
}
.texte-retour {
    padding-top: 0.5em;
    display: flex;
    align-items: center;
}

.titre__projet {
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

// .auteur_info:hover {
//   color: $couleur-pale;
//   cursor: pointer;
// }

.description__projet {
    width: 50vw;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: 756px) {
        align-items: flex-end;
        width: 100%;
    }
}

.entete-description__projet {
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: 756px) {
        align-items: flex-end;
    }
}

.texte-description {
    margin-top: 40px;
    line-height: 2rem;
    text-align: start;
    @media screen and (max-width: 756px) {
        text-align: end;
    }
}

.logiciel-projet {
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.logiciels {
    width: auto;
    height: 4vh;
    fill: $blanc;
}

// .images-projets {
//     flex-wrap: wrap;
//     padding: 5rem 2rem 0rem;
//     gap: 1rem;
// }
.screenshots-projet {
    height: auto;
}

.images-projets {
    display: grid;
    grid-template-columns: 1fr; /* Par défaut, une seule colonne */
    gap: 2rem 0; /* Espace entre les images */
}

.projet-image {
    background-color: #ccc; /* Juste pour la démonstration */
    height: 65vh; /* Ajuste la hauteur de chaque projet */
    background-color: #ccc; /* Juste pour la démonstration */
    height: 500px; /* Ajuste la hauteur de chaque projet */

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Les projets 1, 4, 7, 10... prennent toute la largeur */
.images-projets .projet-image:nth-child(3n + 1) {
    grid-column: span 2; /* Prend toute la largeur */
}

/* Les projets 2-3, 5-6, 8-9... prennent chacun 50% de la largeur */
.images-projets .projet-image:nth-child(3n + 2),
.images-projets .projet-image:nth-child(3n + 3) {
    grid-column: span 1; /* Prend 50% de la largeur */
}

@media (min-width: 768px) {
    .images-projets {
        grid-template-columns: 1fr 1fr; /* Sur les grands écrans, deux colonnes */
        gap: 2rem; /* Espace entre les images */
    }
}

/* Si la dernière rangée a un seul élément, qu'il prenne toute la largeur */
.images-projets .projet-image:last-child:nth-child(3n + 2) {
    grid-column: span 2; /* Prendre toute la largeur */
}
